.c-flat-logo {
  position: absolute;
  right: 50px;
  bottom: 50px;
  background-color: #333;
  border-radius: 300px;
  width: 75px;
  height: 75px;
  padding: 5px;
}

.bg-dark {
  background-color: #333 !important;
}
